@import 'tailwindcss';

@theme {
  /* Color */
  --color-primary: #fbebb5;
  --color-src: #fff9e5;
  --color-dripRed100: #faf4f4;

  /* Google Fonts */
  --font-primary: 'Poppins', 'sans-serif';
  --font-src: 'Playwrite AU TAS', 'cursive';
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium lg:leading-6;
  }
  p {
    @apply text-[#9F9F9F] text-[14px];
  }
  html,
  body {
    overflow-x: hidden;
  }
  .boderBottom {
    border-bottom: 1px solid #353535;
  }
  .boder1px {
    border: 1px solid #353535;
    font-size: 17px;
  }
  .boderInputBox {
    border: 1px solid #dddd;
  }
  .bassisFlex {
    flex-basis: 50%;
  }
}

@layer components {
  .paddingXl {
    @apply py-8 px-2 sm:py-10 sm:px-4 lg:py-15 lg:px-4;
  }
  .containers {
    @apply max-w-[1440px] mx-auto;
  }
}
